.user_card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 50vw;
    gap: 1.5rem;
    padding: 1rem;
    margin: 1rem;
}

.user_card_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.user_card_button {
    border: 1px solid black;
    border-radius: 4px;
    /* padding: 4px 12px; */
    background: white;
    cursor: pointer;
}

.user_card_button:hover {
    background-color: black;
    color: white;
}

.user_card_button:active {
    color: rgb(189, 189, 189);
}

.button_link {
    color: inherit;
    text-decoration: none;
}

.username {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 0;
    margin: 0;
}