.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.clock {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 10vw;

    color: #6e6e6e;
}